
    <div class="col-sm-3" style="margin: 25px">
        <div class="card" style="width: 18rem; height: 25rem;">
                <span style="text-align:center;padding: 5px; background: #C4E2FF">
                    <a href="{{ post.author.get_absolute_url }}">{{post.author}}</a>
                    , {{post.created_at | date:'d b Y'}}
                </span>
            <div>
                <img src="{{ post.image.url }}" class="card-img-top" style="height: 11rem; width: available" alt="Фото записи">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ post.title | truncatechars:60 | safe }}</h5>
                {{post.views_number}}
            </div>
            <div class="card-footer" style="background: #C4E2FF">
                <a href="{{ post.get_absolute_url }}" class="btn btn-outline-dark">Читать полностью</a>
            </div>
        </div>
    </div>
