{% extends 'blog/index.html' %}
{% load crispy_forms_tags %}

{% block title %}{{post.title}} | {{post.author}} {% endblock %}

{% block content %}
<div class="container">
    <div class="" style="text-align:center;">
        <h2>{{post.title}}</h2>
        <div class="center" style="color: rgba(0,0,0,0.5)">
            {{post.author}} - {{post.created_at | date }}
            {% if post.edited_at%}
            <br>
            Отредактирован {{ post.edited_at | date }}
            {% endif %}
            {% if user == post.author %}
            <a href="{% url 'post_update' post.id %}">Редактировать</a>
            <a href="{% url 'post_delete' post.id %}">Удалить</a>
            {% endif %}

            <br>Время на чтение - {{post.time_to_read}} минут
        </div>
        <img src="{{post.image.url}}" alt="" width="600">
    </div>
</div>

<div class="single-post-contents" style="margin-top: 30px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="single-post-text">
                    {{post.content | safe}}
                    <div style="text-align: right">

                        Источник - <a href="{{post.source}}">{{ post.source }}</a>
                    </div>

                    {% if user.is_authenticated %}
                    <form action="{% url 'post_like_or_dislike' post.id %}" method="POST">
                        {% csrf_token %}
                        {% if is_liked %}
                        <div class="mt-50" style="float:right">
                            <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-outline-dark" >
                                <i class="bi bi-hand-thumbs-up"></i> UnLike
                            </button>
                            <nav>
                                <strong class="text-secondary">{{ likes_count }} Like{{ likes_count|pluralize }}</strong>
                            </nav>
                        </div>
                        {% else %}
                        <div class="mt-50" style="float:right">
                            <button type="submit" name="post_id" value="{{object.id}}" class="btn btn-outline-dark" >
                                <i class="bi bi-hand-thumbs-up"></i> Like
                            </button>
                            <nav>
                                <strong class="text-secondary">{{ likes_count }} Like{{ likes_count|pluralize }}</strong>
                            </nav>
                        </div>
                        {% endif %}
                    </form>
                    {% else %}
                    <div class="mt-50" style="float:right; margin-bottom: 30px">
                        <a class="btn btn-outline-dark" href="{% url 'account_login' %}?next={{request.path}}">
                            Log in to like this article!
                        </a><br>
                        <nav>
                            <strong class="text-secondary">{{ likes_count }} Like{{ likes_count|pluralize }}</strong>
                        </nav>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</section>

{% if post.comments.all %}
<section class="gradient-custom">
    <div class="container my-5 py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
                <div class="card">
                    <div class="card-body p-4">
                        <h4 class="text-center mb-4 pb-2">Комментарии</h4>
                        {% for comment in post.comments.all %}
                        <div class="row" style="margin-bottom: 30px;">
                            <div class="col">
                                <div class="d-flex flex-start">
                                    <img
                                            class="rounded-circle shadow-1-strong me-3"
                                            src="{{comment.author.image.url}}"
                                            alt="avatar"
                                            width="65"
                                            height="65"
                                    />
                                    <div class="flex-grow-1 flex-shrink-1">
                                        <div>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="mb-1">
                                                    <a href="{{ comment.author.get_absolute_url }}">{{comment.author}}</a>
                                                    <span class="small">- {{comment.date | date:"d.m.y H:i"}}</span>
                                                </p>
                                            </div>
                                            <p class="small mb-0">
                                                {{comment.text}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}


<div style="display: flex; flex-direction: column; margin-top:20px">
    <h4 style="align-self: center;">Поделитесь своим мнением</h4>
    <div style="width:47%; align-self: center;">
        {% if user.is_authenticated %}
        <form action="{% url 'post_leave_comment' object.id %}" method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" name="post_id" value="{{object.id}}" class="btn btn-outline-dark mt-15">Отправить</button>
        </form>
        {% else %}
        <div style="margin-top: 25px">
                    <a class="btn btn-outline-dark" href="{% url 'account_login' %}?next={{request.path}}">
            Login
        </a> <br>
            Войдите, чтобы комментировать публикации
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
</body>
</html>