{% extends 'blog/index.html' %}
{% load crispy_forms_tags %}


{% block title %} Создание публикации {% endblock %}
{% block content %}
<div  class="container mt-3" >
    <div  class="row justify-content-center" style="width: 66%">
        <h4 class="card-title">Создание записи</h4>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form | crispy }}
            <button type="submit" class="btn btn-outline-dark btn-block mt-15">Создать запись</button>
        </form>
    </div>
</div>
{% endblock %}