{% extends 'blog/index.html' %}
{% load crispy_forms_tags %}

{% block title %}{{post.title}} | {{post.author}} {% endblock %}

{% block content %}
<div class="container">
    <div class="" style="text-align:center;">
        <h2>{{post.title}}</h2>
        <img src="{{post.image.url}}" alt="" width="600">
        <div class="center">
            <p>{{post.author}} {{post.created_at | date }}
                {% if user == post.author %}
                <a href="{% url 'post_update' post.id %}">Редактировать</a>
                {% endif %}
            </p>
            <p>
                Время на чтение - {{post.time_to_read}} минут
            </p>
        </div>
    </div>
</div>

<div class="single-post-contents">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="single-post-text">
                    {{post.content}}

                    {% if user.is_authenticated %}
                    <form action="{% url 'post_like_or_dislike' post.id %}" method="POST">
                        {% csrf_token %}
                        {% if is_liked %}
                        <div class="mt-50" style="float:right">
                            <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-outline-dark" >
                                <i class="bi bi-hand-thumbs-up"></i> UnLike
                            </button>
                            <nav>
                                <strong class="text-secondary">{{ likes_count }} Like{{ likes_count|pluralize }}</strong>
                            </nav>
                        </div>
                        {% else %}
                        <div class="mt-50" style="float:right">
                            <button type="submit" name="post_id" value="{{object.id}}" class="btn btn-outline-dark" >
                                <i class="bi bi-hand-thumbs-up"></i> Like
                            </button>
                            <nav>
                                <strong class="text-secondary">{{ likes_count }} Like{{ likes_count|pluralize }}</strong>
                            </nav>
                        </div>
                        {% endif %}
                    </form>
                    {% else %}
                    <div class="mt-50" style="float:right; margin-bottom: 30px">
                        <a class="btn btn-outline-dark" href="{% url 'account_login' %}?next={{request.path}}">
                            Log in to like this article!
                        </a><br>
                        <nav>
                            <strong class="text-secondary">{{ likes_count }} Like{{ likes_count|pluralize }}</strong>
                        </nav>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</section>


<section>
    <div class="container" style="display: flex; flex-direction: column; justify-content: center;">
        <div style="text-align: center">
            <h4>Обсуждение</h4>
        </div>
        <div style="text-align: center;">
            {% for comment in post.comments.all %}
            <div style="display: flex; justify-content: center;">
                {% if comment.author.image %}
                <img src="{{comment.author.image.url}}" alt="">
                {% else %}
                <img src="https://w7.pngwing.com/pngs/906/222/png-transparent-computer-icons-user-profile-avatar-french-people-computer-network-heroes-black.png" width="40">
                {% endif %}
                <p>{{comment.author}}</p>
                <span class="comment-date font-pt">{{comment.date}}</span>
            </div>
                <p style="margin-bottom:50px">{{comment.text}}</p>
            {% endfor %}
        </div>
    </div>
    <div style="display: flex; flex-direction: column; margin-top:20px">
        <h4 style="align-self: center;">leave a comment</h4>
        <div style="width:50%; align-self: center;">
            <form action="{% url 'post_leave_comment' object.id %}" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" name="post_id" value="{{object.id}}" class="btn btn-outline-dark mt-15">Отправить</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}
</body>
</html>