{% extends 'blog/index.html' %}
{% load static %}

{% block title %}Страница пользователя {{object.username}}{% endblock %}
{% block content %}
<div class="container">
    <div>
        {%if siteuser.image%}
        <img src="{{user.image.url}}"  width = "300">
        {%else%}
        <img src="https://w7.pngwing.com/pngs/906/222/png-transparent-computer-icons-user-profile-avatar-french-people-computer-network-heroes-black.png" width="300">
        {%endif%}
    </div>
    <div class="mt-15">
        {{siteuser.get_full_name}}
    </div>
    <div class="mt-15">
        {{siteuser.description}}
    </div>


    {% if user.is_authenticated %}
    <form action="{% url 'user_follow_unfollow' siteuser.id %}" method="post">
        {% csrf_token %}
        {% if is_follow %}
        <button type="submit" name="user_id" value="{{siteuser.id}}" class="btn btn-primary">
            Отписаться
        </button>
        {% else %}
        <button type="submit" name="user_id" value="{{siteuser.id}}" class="btn btn-primary">
            Подписаться
        </button>
        {% endif %}
    </form>
    {% endif %}


    <div class="mt-15">
        Подписчики {{following.count}}
    </div>
    <div class="mt-15">
        Подписан на {{followers.count}}
    </div>
</div>


{% endblock %}