{% extends 'base.html' %}

{% block title %} О проекте {% endblock %}
{% block content %}
<div class="container">
    <h3>Привет! Меня зовут Сергей, и blogplatform - мой проект.</h3>
    <p>Я изучаю программирование около 2 лет, люблю много писать и пробовать свои знания в личных проектах.</p>
    <p>Этот - один из таких. Он постоянно улучшается, становится крупнее и обрастает новыми фичами.</p>
    <p>Мой код и другие мои проекты можно найти по <a href="https://github.com/sergeysemenov90">ссылке</a> </p>
</div>
{% endblock %}