<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>{% block title %}Главная страница{% endblock %}</title>
</head>

<body>
{# Основной навбар сайта #}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'mainpage' %}">BlogPost</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'post_list' %}">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'post_create' %}">Создать запись</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Pricing</a>
                </li>
            </ul>
            <div style="margin-right:15px;">
                <form class="d-flex" name="search">
                    <input class="form-control me-2" type="text" name="search" placeholder="Введите значение">
                    <button class="btn btn-primary" type="submit">Искать</button>
                </form>
            </div>
            <span class="navbar-text">
              {% if user.is_authenticated %}
                <span style="margin-right: 12px;"><a href="{{ siteuser.get_absolute_url }}">{{ user }}</a></span>
              <a href="{% url 'account_logout' %}">
                  Выйти из системы
              </a>
              {% else %}
              <a href="{% url 'account_login' %}">
                  Войти в систему
              </a>
               |
              <a href="{% url 'account_signup' %}">
                  Регистрация
              </a>
              {% endif %}
          </span>
        </div>
    </div>
</nav>

{% block search %}{% endblock %}
{% block content %}Здесь пока так тихо...{% endblock %}

{% block login %}{% endblock %}
{% block post_create %}{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>