<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>{% block title %}Главная страница{% endblock %}</title>
</head>

<body>
{# Основной навбар сайта #}

{% for message in messages %}
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id = 'toast' class='toast' role='alert' aria-live='assertive' aria-atomic='true'>
        <div class='toast-header' >
            <!--            <img src='...' class='rounded me-2' alt='...'>-->
            <strong class='me-auto'>Blogplatform</strong>
            <small>11 мин. назад</small>
            <button type='button' class='btn-close' data-bs-dismiss='toast' aria-label='Закрыть'></button>
        </div>
        <div class='toast-body'>
            {{message}}
        </div>
    </div>
</div>
{% endfor %}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #C4E2FF;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'mainpage' %}">BlogPost</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'post_list' %}">Публикации</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'post_create' %}">Создать публикацию</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">О проекте</a>
                </li>
            </ul>
            <div style="margin-right:15px;">
                <form class="d-flex" name="search">
                    <input class="form-control me-2" type="text" name="search" placeholder="Введите значение">
                    <button class="btn btn-outline-dark" type="submit">Искать</button>
                </form>
            </div>
            <span class="navbar-text">
              {% if user.is_authenticated %}
                <span style="margin-right: 12px;"><a href="{{ user.get_absolute_url }}">{{ user }}</a></span>
              <a href="{% url 'account_logout' %}">
                  Выйти из системы
              </a>
              {% else %}
              <a href="{% url 'account_login' %}">
                  Войти в систему
              </a>
               |
              <a href="{% url 'account_signup' %}">
                  Регистрация
              </a>
              {% endif %}
          </span>
        </div>
    </div>
</nav>
{% block search %}{% endblock %}
{% block content %}
<div class="lj">
    <div class="page-head">
        <div class="le">
            <div class="an">
                <div class="as">
                    <div class="df">
                        <div class="ax">
                            <div class="dq">
                                <h2 class="head-text">Blogplatform is a place to write, read, and connect</h2>
                                <div class="ec">
                                    <span>It's easy and free to post your thinking on any topic and connect with millions of readers.</span>
                                </div>
                                <div>
                                    <a href="{% url 'account_signup' %}" class="lj btn btn-outline-dark">Присоединиться</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="aa">
    <div class="az">
        <div class="ay mt-15">
            <div class="aw">
                <div class="io">
                    <div class="oo">
                        <div class="fc">
                            <div class="hp">
                                <div style="display: block;">
                                    <h2></h2>
                                </div>
                            </div>

                            {% for post in page_obj %}
                                {% include 'blog/includes/post_card.html' %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 75px; max-width: 300px;">
                <div>
                {% load cache %}
                {% cache 300 tags %}
                <p>Popular tags:</p>
                {% for tag in tags %}
                <a class="btn btn-outline-dark" href="{% url 'tag_detail' tag.id %}">{{ tag.name }}</a>
                {% endfor %}
                {% endcache %}
                </div>
            </div>
        </div>
    </div>
</div>


<nav aria-label="Page navigation example">
    <ul class="pagination"  style="justify-content: center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
        <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
<!--        <li class="page-item"><a class="page-link" href="?page=3">3</a></li>-->
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>


{% endblock %}

{% block login %}{% endblock %}
{% block post_create %}{% endblock %}

<script>
var toastLiveExample = document.getElementById('toast')
var toast = new bootstrap.Toast(toastLiveExample)
toast.show()
</script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>